.weather-state-container {
  display: flex;
  align-items: flex-end; //xuong duoi day

  .icon-state {
    width: 80px;
    height: 80px;
  }
  .name-state {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
  }
}

.weather-day-container{
  padding: 15px;
  
}
