.weather-app-container {
  .search-weather-container {
    .search-inputs {
      display: flex;
      justify-content: center; //vao giua
      gap: 15px;
      padding-top: 15px;
      height: 28px;

      input {
        width: 200px;
        padding: 0 5px; //left & right
      }

      .result-container {
        display: flex;
        flex-direction: row; //hang ngang
        gap: 15px;
        justify-content: space-between; //
        align-items: center; //can giua
        flex-wrap: wrap; //tu dong xuong dong
        padding: 15px;
      }
    }
  }
}
